---
layout: blog
title: index
permalink: /
---
{% include index/navbar.html %}
{% include index/inSlider.html %}
{% include index/about_me.html %}
{% include index/history.html %}
<!-- {% include index/team.html %} -->
{% include index/contact.html %}

<script>
    $(document).ready(function () {
        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });
    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
    // Activate .js plugin for animation on scrol
    new WOW().init();
</script>
<!--
<script>
    $(document).ready(function (){
        $.i18n.init({
            resGetPath: 'static/locales/__lng__.json',
            load: 'unspecific',
            fallbackLng: false,
            lng: 'en'
        }, function (t){
            $('.i18container').i18n();
            // $('#i18_title').i18n();
            $('#i18_navbar').i18n();
            $('#i18_about_me').i18n();
            $('#i18_skills').i18n();
            $('#i18_projects').i18n();
            $('#i18_career').i18n();
            $('#i18_blog').i18n();
            $('#i18_link').i18n();
        });
        $('.set_en').on('click', function (){
            i18n.setLng('en', function(){
                $('.i18container').i18n();
                // $('#i18_title').i18n();
                $('#i18_navbar').i18n();
                $('#i18_about_me').i18n();
                $('#i18_skills').i18n();
                $('#i18_projects').i18n();
                $('#i18_career').i18n();
                $('#i18_blog').i18n();
                $('#i18_link').i18n();
                // $('.set_en').addClass('active');
                // $('.set_cn').removeClass('active');
            });
        });
        $('.set_cn').on('click', function (){
            i18n.setLng('cn', function(){
                $('.i18container').i18n();
                // $('#i18_title').i18n();
                $('#i18_navbar').i18n();
                $('#i18_about_me').i18n();
                $('#i18_skills').i18n();
                $('#i18_projects').i18n();
                $('#i18_career').i18n();
                $('#i18_blog').i18n();
                $('#i18_link').i18n();
                // $('.set_cn').addClass('active');
                // $('.set_en').removeClass('active');
            });
        });
    });
</script>
-->
