<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta content="{{ site.description }}" name="description">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author.name }}">
  <title>{{ site.title }}</title>
  <!-- favicon -->
  <!-- <link rel="shortcut icon" href="{{ "static/img/favicon/.ico" | prepend: site.baseurl }}"> -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ "static/img/favicon/apple-icon-57x57.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ "static/img/favicon/apple-icon-60x60.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ "static/img/favicon/apple-icon-72x72.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "static/img/favicon/apple-icon-76x76.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ "static/img/favicon/apple-icon-114x114.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ "static/img/favicon/apple-icon-120x120.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ "static/img/favicon/apple-icon-144x144.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ "static/img/favicon/apple-icon-152x152.png" | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "static/img/favicon/apple-icon-180x180.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ "static/img/favicon/android-icon-192x192.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "static/img/favicon/favicon-32x32.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ "static/img/favicon/favicon-96x96.png" | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "static/img/favicon/favicon-16x16.png" | prepend: site.baseurl }}">
  <link rel="manifest" href="{{ "static/img/favicon/manifest.json" | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ "static/img/favicon/ms-icon-144x144.png" | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">

  <!-- Third-party CSS -->
  <link href="{{"bower_components/bootstrap/dist/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/animate.css/animate.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"bower_components/components-font-awesome/css/font-awesome.min.css"| prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{"static/font-mfizz/font-mfizz.css"| prepend: site.baseurl }}" rel="stylesheet">
  <!-- <link href="{{"bower_components/toastr/toastr.min.css"| prepend: site.baseurl }}" rel="stylesheet"> -->
  <link href="{{"bower_components/jquery.gritter/css/jquery.gritter.css"| prepend: site.baseurl }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <!-- <link href="{{"static/css/pygments.css"| prepend: site.baseurl }}" rel="stylesheet"> -->
  <link href="{{"static/css/style.css"| prepend: site.baseurl }}" rel="stylesheet">

  <!-- Third-party scripts -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  <script src="{{"bower_components/jquery/dist/jquery.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/bootstrap/dist/js/bootstrap.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/i18next/i18next.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/PACE/pace.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"bower_components/wow/dist/wow.min.js"| prepend: site.baseurl }}"></script>

  <!-- Custom and plugin javascript -->
  <!-- <script src="{{"static/js/inspinia.js"| prepend: site.baseurl }}"></script> -->
  <meta name="naver-site-verification" content="552241d5eb5903580eb6d7ae60ad3927c6a83dd3"/>
</head>
