
<section id="about_me" class="features">
    <div class="container" id="i18_about_me">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span data-i18n="about_me.about_me">노페땅</span></h1>
                <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><span>
                  노페땅의 팀원들은 저마다 좋아하는 장르와 분야가 있습니다. 당연하게도 그 취미를 계속 즐기고 싶다는 염원과 소망이 가득하죠.
                  하지만 우리사회의 문화예술은 지속성을 잃고 있습니다.
                  우리는 많은 예술가들이 현실의 벽에 부딪혀 활동에 집중할 수 없거나 심지어 활동을 접게 되는 모습을 몇 번이나 보아왔습니다.
                  그래서 우리는 계속 좋아하는 것들을 읽고 듣고 보기 위해서라도 이 문제를 해결해야겠다고 결심했습니다.
                </span></p>
            </div>
        </div>

        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span>핵심가치</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
                <h3>다양성</h3>
                <p><span>
                  문화예술의 다양성은 언제나 위협받기 쉽습니다.
                  많은 대중들에게 익숙한 작품은 살아남기 쉬워도, 소수의 사람들에게 사랑받는 작품들은 늘 가혹한 환경에 시달려야하죠.
                  하지만 매스미디어와 거대 자본으로부터 돈이 된다고 인정받은 문화예술에만 획일화된 방식으로 소비할 필요는 전혀 없습니다.
                  우리는 아티스트와 팬을 직접 연결하여 문화예술의 다양성을 보존하고자 합니다.
                </span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
                <h3>창작</h3>
                <p><span>
                  문화예술인들이 창작활동에 집중할 수 없는 지금의 상황이 바뀌어야만 합니다.
                  문화예술 생산자들에게 올바른 몫이 돌아감으로써 거대 자본에 의존하지 않고도 독립적으로 안정적인 수입을 창출해낼 수 있어야만 합니다.
                  우리는 문화예술인들이 지속가능하게 창작활동을 할수 있는 또다른 발판을 만들고자 합니다.
                </span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
                <h3>덕질</h3>
                <p><span>
                  더 많은 사람들이 문화예술의 소비자가 될수 있어야합니다.
                  더 많은 소규모 독립 문화공간들이 생겨나고, 더 많은 문화예술 생산자들이 사람들과 연결되어
                  사람들의 일상 곳곳에 다양한 문화예술이 스며들기를 원합니다.
                  우리는 사람들의 잿빛 일상 속에 문화예술의 황금빛이 스며들기를 바랍니다.
                </span></p>
            </div>
        </div>
    </div>
</section>
