<section id="contact" class="contact features">
    <div class="container" id="i18_link">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span>연락처</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="team-member wow zoomIn">
                    <h4><span class="navy">주식회사 노페땅</span></h4>
                    <p>
                      서울특별시 성동구 왕십리로2길 20, 1층 <br />
                      official@nofetan.com
                    </p>
                    <ul class="list-inline social-icon">
                        <li><a href="mailto:official@nofetan.com"><i class="fa fa-envelope-o"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <strong>&copy; {{ 'now' | date: "%Y" }} Nofetan Inc.</strong>
                <!-- <img src="http://www.reliablecounter.com/count.php?page=www.jack003.com3&digit=style/black-and-white/3/&reloads=0" alt="" title="" border="0">&nbsp;<span data-i18n="link.view">views</span> || -->
                <!-- <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script> -->
                <!-- <span id="busuanzi_container_site_pv"><strong id="busuanzi_value_site_pv"></strong>&nbsp;views.&nbsp;</span>|| -->
            </div>
        </div>
    </div>
</section>
